

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
  }


  p {
    font-family: 'Secondary-font';
    font-size: 16px;
    color: #b7b7b7;
  }

  

  h1, h2,h3,h4 {
    font-family: 'Primary-font';
    font-weight: 400;
    color: #ffffff;
  }

  h2 {
        font-size: 48px;
        color: white;
        line-height: 1.2;
        letter-spacing: 0.01em;
    }

  h1 {
    font-size: 60px;
    letter-spacing: 0.01em;
  }

  h3 {
      font-size: 36px;
      letter-spacing: 0.01em;
  }

  h4 {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.01em;
  }

  a {
    font-family: 'Secondary-font';
    font-weight: 600;
    font-size: 16px;
    color: #d4d4d4;
  }

  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  ::-webkit-scrollbar {
    width: 6px;

  }

  ::-webkit-scrollbar-track {
  background: #1d1e20;
  }

  ::-webkit-scrollbar-thumb {
  background: rgb(72, 69, 80);
  
  }

  @media (max-width: 1250px) {
    h2 {
      font-size: 36px;
    }

    h1 {
      font-size: 48px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 18px;
    }

  }
  
  @media (max-width: 1000px) {

    h1 {
      font-size: 36px;
    }


    h2 {
      font-size: 30px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }

  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 28px;
    }


    h2 {
      font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 20px;
    }
  }

  @keyframes fade{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 100%
    }
}